:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(45deg, #0b3d0b, #111111);

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  padding: 10px;
}

.navbar-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #223a22;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(13, 117, 13, 0.3);

}

.navbar-title-container {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: left;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
}